body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #aaa;
}

nav {
  margin-top: 25px;
}

nav a {
  color: #4da6ff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  color: white;
}