body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
  color: white;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  padding: 15px 0;
  border-bottom: 1px solid #222;
}

.nav-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.links a {
  color: #4da6ff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.links a:hover {
  color: white;
}

/* HERO */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #aaa;
}
.logo-link{
  color:white;
  text-decoration:none;
}

.links a.active{
  color:white;
}

.page{
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 110px; /* chừa chỗ cho navbar fixed */
  padding-bottom: 60px;
}

.page h1{
  margin-top: 0;
  font-size: 42px;
  margin-bottom: 20px;
}

.page h2{
  margin-top: 30px;
  color: #ddd;
}

.card{
  background: #151515;
  border: 1px solid #222;
  border-radius: 16px;
  padding: 22px;
  margin-top: 14px;
  transition: all 0.3s ease;
}

.card:hover{
  transform: translateY(-6px);
  border-color: #4da6ff;
  box-shadow: 0 10px 25px rgba(77,166,255,0.2);
}

.grid-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  margin-top: 10px;
}

.btn{
  display: inline-block;
  margin-top: 12px;
  padding: 10px 14px;
  background: #4da6ff;
  color: #0d0d0d;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.btn:hover{
  opacity: 0.9;
}

@media (max-width: 760px){
  .grid-2{
    grid-template-columns: 1fr;
  }
}